<div class="jumbotron text-center">
    <!--<div class="right tomster"></div>-->
    <h2>Contact Us</h2>
    <p>Mystery Dining Initiative representatives would love to help you<br>organise a visit or answer
        any questions you may have.</p>
    <p>
        Mystery Dining Initiative HQ
    <address>
        20 Parliamnent Street<br>
        Wellington, 6011
    </address>
    <a href="tel:123445">(04) 230 5672</a><br>
    <a href="mailto:enquiries@mysterydiner.com">enquiries@mysterydinininginitiative.com</a>
    </p>
    <hr>
    <h2>Send a message</h2>


    {{textarea class="form-control" placeholder="Your message. (At least 5 characters.)" rows="7" value=message}}

    <br/><br/>

    <div class="form-horizontal form-group form-group-lg row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-1 col-md-5 col-md-offset-2">
        {{input type="email" value=emailAddress class="form-control" placeholder="Please type your e-mail address."}}
        </div>
        <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-4 col-md-3">
    <button class="btn btn-primary btn-lg btn-block" {{action 'sendMessage'}} disabled={{disableSubmit}}>Send message</button>
        </div>
    </div>

{{#if messageSent}}
    <div class="alert alert-success">{{messageSent}}</div>
{{/if}}
    <br/><br/>

</div>
